.Status {
  width: 90%;
  margin: 0 auto;
  position: relative;
  border-collapse: collapse;
}

.Player {
  .Name,
  .Count {
    border: 1px solid #000;
    padding: 4px 8px;
  }

  .Name {
    width: 240px;
  }

  .Count {
    width: 60px;
    text-align: right;
  }

  &_turn {
    .Name,
    .Count {
      background: #fff5c4;
    }
  }
}
